 @keyframes slideInFromRight {
     from {
         transform: translateX(100%);
     }

     to {
         transform: translateX(0);
     }
 }

#main-container {
     animation: slideInFromRight 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
 }